<%= form_with(model: party_relationship_type, local: true) do |form| %>
  <% if party_relationship_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(party_relationship_type.errors.count, "error") %> prohibited this party_relationship_type from being saved:</h2>

      <ul>
        <% party_relationship_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :from_role_id %>
    <%= form.text_field :from_role_id %>
  </div>

  <div class="field">
    <%= form.label :to_role_id %>
    <%= form.text_field :to_role_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
