<p id="notice"><%= notice %></p>

<p>
  <strong>From role:</strong>
  <%= @party_relationship_type.from_role_id %>
</p>

<p>
  <strong>To role:</strong>
  <%= @party_relationship_type.to_role_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @party_relationship_type.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @party_relationship_type.name %>
</p>

<%= link_to 'Edit', edit_party_relationship_type_path(@party_relationship_type) %> |
<%= link_to 'Back', party_relationship_types_path %>
